@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(15.23% 0.0218 277.09);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(15.23% 0.0218 277.09);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(15.23% 0.0218 277.09);
  --color-primary: oklch(62.8% 0.25768 296.73);
  --color-primary-foreground: oklch(98.04% 0.0106 247.86);
  --color-secondary: oklch(96.71% 0.0106 247.86);
  --color-secondary-foreground: oklch(20.09% 0.0209 277.09);
  --color-muted: oklch(96.71% 0.0106 247.86);
  --color-muted-foreground: oklch(56.74% 0.0274 254.64);
  --color-accent: oklch(96.71% 0.0106 247.86);
  --color-accent-foreground: oklch(20.09% 0.0209 277.09);
  --color-destructive: oklch(62.8% 0.22768 29.23);
  --color-destructive-foreground: oklch(98.04% 0.0106 247.86);
  --color-border: oklch(90.59% 0.0106 254.64);
  --color-input: oklch(90.59% 0.0106 254.64);
  --color-ring: oklch(62.8% 0.25768 296.73);
  --radius: 0.5rem;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
